body{
    margin: 0;
    background: rgb(2,0,36);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 24%, rgba(205,0,255,1) 100%);
    background: -o-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 24%, rgba(205,0,255,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 24%, rgba(205,0,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 24%, rgba(205,0,255,1) 100%);
}
nav{
    width: 100%;
    margin: 0;
}
nav ul{
    background-color:#FFFFFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right{
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color:#08084E;
}
ul.topnav li a:hover{
    color:aqua;
}

.row{
    display: flex;
    height: 75%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    padding-left: 50px;
    padding-left: 75px;
}
h1{
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
h4{
    color: #FFFFFF;
    text-shadow: 0 0 10px #0ADBE5, 0 0 20px #0ADBE5, 0 0 30px #001E84, 0 0 40px #001E84, 0 0 50px #001E84, 0 0 60px #001E84, 0 0 70px #001E84;
}
.card{
    width:230px ;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 18px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    transition: transform 0.5;
}
.card:hover{
    transform: translateY(-10px);
}
.card1{
    background-image:url(dance-party.jpg);
    background-size: cover;
    
}
.card2{
    background-image:url(music.jpeg);
    background-size: cover;
}
.card3{
    background-image:url(dance-430554_1280.jpg);
    background-size: cover;
}
.card4{
    background-image:url(prize.jpg);
    background-size: cover;
}

footer.footsy{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #08084E;
    background-color:#FFFFFF; 
   
}
footer.footsy div.foottext{
    text-align: center;
}
